.*.swp*
.*.tmp*
*~

# Packaging
!centos/el7/Makefile
centos/el7/kismet-git.spec

# vscode tests
*.srctrlbm
*.srctrldb
*.srctrlprj
.vscode/*

# Packages
*.deb

reprepro_signing_wrapper

media/*

id_rsa
id_rsa.pub
ssh_config

passphrase
kismet.pub
kismet.key

aptly/*-aptly

repos-aptly/*

Release.gpg
InRelease
Release
Packages
Packages.gz
version
*.deb
*.db

kali-debootstrap

dpkgs-*/*
logs/*

docker-staging/*
aptly-staging/*
logs/*

